*{
    margin: auto;
    padding: auto;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image:url("https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#showModal{
    position: absolute;
    left: 10%;
    top: 60%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 20rem;
    height: 3.3rem;
    box-shadow: 0 0 6px  black;
    transition-duration: 0.5s;
    font-weight: 600;
    cursor: pointer;
}
#showModal:hover{
    background-color: rgba(255, 255, 255, 0.462);
    border:2px solid  rgba(255, 255, 255, 0.071);;
    color: black;
}
#modal{
    background-color: whitesmoke;
    position: absolute;
    width: 30rem;
    height: 15rem;
    padding: 3.3em 4em ;
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: 0 0 3px black;
    top: 40%;
    left: 40%;
   
    animation-name: animatemodal;
    animation-duration: 0.4s;
    display: flex;
}
#closemodal{
    font-size: 4rem;
    cursor: pointer;
}
#closemodal:hover{
 color: rgb(175, 13, 13);
}

#modal-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
@keyframes animatemodal {
    from{
        top:-300px;
        opacity: 0;
    }
    to{
        top: 40%;
        opacity: 1;
    }
}